.panel {
    width:90%;
    border:0;
    margin-top:20px;
    margin-bottom:0;
    margin-left:auto;
    margin-right:auto;
    padding:0;
    clear:both;
}

form fieldset {
    border: medium none;
    font-size: 12px;
    margin: 0 0 15px;
    padding: 0;
    margin: 0 30px 10px 0;
}

form fieldset label {
    color: #666666;
    line-height: 30px;
    vertical-align: bottom;
}

form fieldset input,form fieldset  textarea,form fieldset select {
    -moz-border-bottom-colors: none;
    border-radius: 3px 3px 3px 3px;
    border-color: #9A9A9A #CDCDCD #CDCDCD #9A9A9A;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    font: 12px arial;
    outline: medium none;
    padding: 4px 7px;
    vertical-align: top;
    width: 166px;
}

form p {
    clear: none;
    padding: 5px 0 0;
}

form fieldset input:focus,form fieldset textarea:focus,form fieldset select:focus{
    box-shadow: 0 0 5px #FFB000;
    border-color:#FFB000;
}

form fieldset.form-actions {
    border-top: 1px solid #D8D8D8;
    clear: both;
    text-align: center;
    width: 100%;
}

form fieldset.form-actions input{
    background-color: #FFB000;
    border-radius: 5px;

    font-weight: bold;
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    margin: 0 auto;
    width: 150px;
    float:left;
    margin-left:10px;
}


form fieldset.form-actions input:hover{
    background-color: #EE7700;
}

form fieldset.form-actions input.save{
    background-color: #FFB000;
}

form fieldset.form-actions input.second{
    background-color: #206F96;
    background-image: -moz-linear-gradient(center top , #206F96, #2073A6);
}

form fieldset textarea {
    width:90%;
}

a.cart-operation{
    color:#005ea7;
    font-size:12px;
    font-weight:normal;
}
a.cart-operation :hover{
    text-decoration: underline;
}

.cart_detail_title{
    border:1px solid #e2e1e1;
    color:#666;
    font-family: "microsoft yahei";
    border-bottom:none;
    background-color:#f3f3f3;
    padding:6px;
    margin:0px;
    font-size:18px;
}

.cart_detail_item{
    border:1px solid #e2e1e1;
    border-bottom:none;
}

.cart_detail_item_title{
    padding-left:12px;
    margin:0px;
    height: 35px;
    line-height: 35px;
    color:#000;
    font-size: 16px;
}
.cdit_operate{
    font-size:12px;
    font-weight:normal;
    color:#FB5217;
}

.cart_detail_item_content{
    width:100%;
    min-height:100px;/*IE7\FF*/
    height:100%;
}

.cart_detail_item_wnd{
    margin: 12px 24px 24px 24px;
}

.select_remind{
    min-height:100px;
    height:100%;
    line-height:100px;
    text-align:center;
    color:#666;
    font-size:14px;
}

.servicelist_price{
    text-align: right;
    font-size:14px;
}
.servicelist_price p{
    margin:0px;
    height:24px;
    line-height: 24px;
    clear:both;
}

.priceitem_title{
    display:block;
    float:right;
    width:300px;
    text-align: right;
    font-size: 14px;
}

.priceitem_amount{
    display:block;
    float:right;
    width:130px;
    text-align: right;
    font-size: 14px;
}

.servicelist_act{

}
.servicelist_act p{
    padding:0px 0px 5px 0px;
    margin:0px;
}

.goselect{
    color:#FE5419;cursor:pointer;text-decoration:underline;
}

.cart_detail_sub{
    border: 1px solid #e2e1e1;
    background-color: #f3f3f3;
    height: 80px;
    line-height:80px;
}
.cart_detail_sub_ope{
    text-align: right;

}
.cart_detail_sub_info{
    float:left;
    padding-left:24px;
    color:#f60;
}
.cart_detail_sub_price{
    float:right;
    padding-right:24px;
}
.cart_detail_sub_btn{
    float:right;
    border:0px;
    background:#FE5417;
    color:#fff;
    font-size:14px;
    font-weight: bold;
    cursor:pointer;
    /*padding:12px 24px;*/
    height: 40px;
    width: 100px;
    border-radius:3px;
    margin:20px 12px 0 0;
    cursor: pointer;
    line-height: 40px;
    text-align: center;
}
.cart_detail_sub_btn:hover {
    background:#EE7700;
}

.textcenter{
    text-align: center;
}

.edit_mode{
    border: 3px solid #FF6600;
    margin:5px 0;
}

.ps_info{
    padding:12px 24px;
}
.ps_info div{
    padding-bottom:12px;
    font-size:12px;
}
.ps_form{
    padding:0px 24px 12px 24px;
}
.ps_edit_item{
    margin: 0 auto;
    width:100%;
    padding-bottom:12px;
}
.ps_edit_item label{
    width:100px;
}

/*cartdetail invoice*/
.invoice_info{
    padding:12px 24px;
}
.invoice_info div{
    padding-bottom:12px;
    font-size:12px;
}
.invoice_form{
    padding:0px 24px 12px 24px;
}
.iei_title{
    display:block;
    padding-bottom:12px;
}
.invoice_edit_item{
    clear:both;
    width:100%;
    height:40px;
    line-height:24px;
    padding-bottom:12px;
    display:inline-block;
}
.invoice_edit_item_title{
    display:inline-block;
    float:left;
    width:150px;
    font-weight: 800;
}
.invoice_edit_item_content{
    float:left;
}
.invoice_edit_item_content input{
    float:left;
    width:14px;
    margin-top:6px;
}
.invoice_edit_item_content span{
    float:left;
    width:auto;
    text-align:left;
    padding-right:24px;
}

.edit_remind{
    color: #ccc;
    font-size:12px;
    font-weight:normal;
}
/*cartdetailwnd end*/

@media screen and (min-width: 680px){
    form fieldset #hint {
        margin-left:30%;
    }
    form fieldset textarea {
        width:71%;
    }
}

/*---------有商店后--------------*/
.shopname{
    color: #4C9ADA;
    font-weight: 800;
    font-size: 16px;
}
/*cartdetail shop*/
.cd_shop_image{
    margin: 0 auto;
    
}
.cd_shop_image_content{
    margin: 0 auto;
    margin-top:20px;
    width:200px;
}
.cd_shop_image_content h3{
    margin-top:0px;
    color:#0077CB;
}
.cd_shop_image_content img{
    border:1px solid #e2e1e1;
    width:180px;
    height:130px;
}

.cd_shop_intro{
    margin: 0 auto;
    width:80%;
    
}
.cd_shop_intro_content{
    margin: 0 auto;
    margin-top:20px;
    clear:both;
    width:100%;
    height:auto;
    font-size: 15px;
}
.csic_item{
    padding-bottom:12px;
    height:20px;
}
.csic_item_title{
    float:left;
    margin: 0 auto;
    width:100%;
}
.csic_item_content{
    float:left;
    margin: 0 auto;
    width:100%;
}
.smallcar{
    border:1px solid #e2e1e1;
    margin:1px;
    width: 25px;
    height:25px;
}

/*----------- Payment ---------------*/
.payment{
    display: inline-block;
    margin: 0 10px;
    margin-top:10px;
    width:170px;
}

.invoice{
    display: inline-block;
    margin: 0 10px;
    margin-top:10px;
}

/*----------有产品后----------*/
.cd_service_table{
    width:100%;
    height:auto;
    padding:0;
    border-collapse:collapse;
    border-left:1px solid #E6E6E6;
    border-top:1px solid #E6E6E6;
    text-align: center;
    font-size: 17px;
}

.cd_service_table tr{
    border-bottom:1px solid #E6E6E6;
    border-right: 1px solid #E6E6E6;
    vertical-align:middle;
    height:24px;
    overflow:hidden;
}

.cd_service_table th{
    border-bottom:1px solid #E6E6E6;
    border-right: 1px solid #E6E6E6;
    background-color:#CCCCCC;
    color:#333;
    font-weight:normal;
    text-align:center;
    padding:10px 6px;
}

.cd_service_table td{
    border-right:1px solid #E6E6E6;
    border-bottom:1px solid #E6E6E6;
    vertical-align:middle;
    padding:10px 6px;
    overflow:hidden;
    color:#333;
}

.cd_service_table tr td div{
    max-width:160px;
}
.textcenter{
    text-align: center;
}
.cd_service_table th{
    background: #fec900;
}

.priceitem_title{
    display:block;
    float:right;
    width:220px;
    text-align: right;
    font-size: 15px;
}

.priceitem_amount{
    display:block;
    float:right;
    width:80px;
    text-align: right;
    font-size: 15px;
}

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
	background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
	background-color:#ededed;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:3px 7px;
    width:100px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
    text-align: center;
    margin: 5px 5px;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
	background-color:#dfdfdf;
}
.myButton:active {
	position:relative;
	top:1px;
}

#Right_btn {
   border-radius:0px 100px 100px 0px; 
}

#Circle_btn {
   border-radius:100px 100px 100px 100px; 
}

@media screen and (max-width: 800px){
.payment{
    width:130px;
}
}