body {
    color: #333333;
    font-size: 12px;
}

.reset{
    clear:both;
}

fieldset{
    width:100%;
}

.jqzoom {
    border-bottom: #ddd 1px solid; 
    border-left: #ddd 1px solid; 
    width: 240px; 
    margin-bottom: 10px; 
    height: 180px; 
    overflow: hidden; 
    border-top: #ddd 1px solid; 
    border-right: #ddd 1px solid; 
    position: relative;
    cursor:crosshair;
}

.bigimg {
    width: 800px; 
    height: 800px;
}

.packageproduct table.servicedetails{
    width:60%;
}
.packageproduct table.servicedetails th{
    border-right: 1px solid #ccc;
    border-bottom:1px solid #ccc;
}
.packageproduct table.servicedetails th:last-child{
    border-right:none;
}
.packageproduct table.servicedetails td{
    border-bottom:1px solid #eee;
    border-right: 1px solid #eee;
    padding:5px;
}
.packageproduct table.servicedetails td:last-child{
    border-right: none;
}

.main{
	width:90%;
	border:0;
	margin-top:20px;
	margin-bottom:0;
	margin-left:auto;
	margin-right:auto;
	padding:0;
	background: #FFFFFF;
	clear:both;
    display:block;
}
.main-left{
	width: 100%;
}
.warning_prompt{
    width:100%;
    background: none repeat scroll 0 0 #FEF5CA;
    border-radius: 3px;
    height:40px;
    margin-bottom:10px;
    line-height:40px;
}

.warning_prompt_box{
    line-height:40px;
    color: #FF0000;
    margin: 0;
    padding: 0 0 0 24px;
    padding-left:12px;
    font-size:13px;
}
a.light-operation {
    color:#5966E6;
}
/*----------------Select service--------------*/
.price-right{
    color:#FE5417;
    position: absolute;
    left: 0;
    top: 70px;
    font-size: 20px;
}
.main_action{
    border:0px;
    background:#FE5417;
    color:#fff;
    font-size:14px;
    cursor:pointer;
    padding:10px 20px 10px 20px;
    border-radius:3px;
    float:right;
    position: absolute;
    right: 0;
    top: 60px;
}
.main_action:hover {
    background:#EE7700;
}

.product_show{
    border-radius: 4px;
    margin-bottom: 10px;
    clear: both;
}
.product_title{
    margin: 0 auto;
    height:auto;
    padding:12px 0;
    border-bottom: 1px dotted #ccc;
    width:410px;
}
.product_title span{
    font-size: 22px;
    color: #FB6707;
}
.product_detail{
    margin-top: 12px;
}
.product_img{
    width: 240px;
    margin:0 auto;
}

.product_describe{
    width: 100%;
    height: 130px;
    position: relative;
}
.product_describe p{
    margin-bottom:12px;
    font-size: 20px;
}

.product_describe span{
    color: #FD570D;
    font-size: 16px;
    font-weight: bold;
}

.comment_detail {
	width:100%;
	line-height: 20px;
}
.comment_title {
	width:100%;
	height:30px;
	line-height: 30px;
	border-bottom:1px solid #ccc;
}

.comment_content {
	width:100%;
}

.comment_content .review {
	width:80%;
	float:left;
}

.comment_btn {
    position:absolute;
    right:0px;
    top:100px;
    width:80px;
    height:30px;
    padding:5px;
}

/*--------放大镜-------------*/
div,ul,li{
    padding:0; 
    margin:0;
}
li{
    list-style-type:none;
}
img{
    vertical-align:top;
    border:0;
}

/*服务详情，服务详细列表*/

.pp_details_table{
    width:100%;
    height:auto;
    margin:0;
    padding:0;
    color:#333;
    border-collapse: separate;
    border-spacing: 0px;
    border-top:1px solid #ccc;
    border-left:1px solid #ccc;
}

.pp_details_tabletitle{
    background-color:#FEC900;
    font-weight:bold;
    font-size:12px;
}

.pp_details_table tr{
    border:none;
}

.pp_details_table tr th{
    border-top:0px;
    border-left:0px;
    border-bottom:1px solid #ccc;
    border-right: 1px solid #ccc;
    padding:10px 5px;
    vertical-align:middle;
    height:24px;
    overflow:hidden;
    color: white;
}

.pp_details_table tr td{
    border-top:0px;
    border-left:0px;
    border-right:1px solid #ccc;
    border-bottom:1px solid #ccc;
    vertical-align:middle;
    padding:10px 5px;
    overflow:hidden;
    text-align:center;
}

.pp_details_operation{
    color:#4764E4;
    text-decoration:underline;
    text-align:center;
}

.serve-intro{
	width: 100%;
}
.serve-intro-title{
	font-size:13px;
	background: #F2F2F2;
	height: 40px;
	line-height: 40px;	
}
.serve-intro-title span{
	display:block;
	width:100px;
	float:left;
	text-align:center;
	font-size: 13px;
	color: #000;
	cursor:pointer;
	height: 35px;
}

.template-content 
{
	clear:both;
	margin:0;
	padding:0;
	border:none;
	/*margin-left:20px;
	margin-right:20px;*/
}


.template-imagearea
{
    padding:2px;
    border:1px solid #FFA700;
    background-color: #FFFFB5;
}

.template-content h2,.template-content h3,.template-content h4,.template-content h5,.template-content ul,.template-content li,.template-content div,.template-content p,
.template-content td,.template-content tr,.template-content p,.template-content ol,.template-content a,.template-content span
{
	margin:0;
	padding:0;
	display:block;
	border:none;
	font-size:12px;
	line-height:1em;
	font-weight:normal;
    height:auto;
}

.template-content ul.list-with-dot{
    padding:0 0 0 10px;
}
.template-content ul.list-with-dot li
{   display:list-item;
	list-style:square outside ;
	
}
.template-content ol.list-ol-num li{
    display:list-item;
	list-style:decimal inside;
}
.template-content ol.list-ol-greendhaodhao li img{
    margin-bottom:-8px;
    padding-right:10px;
}
.template-content ol.list-ol-landhaodhao li img{
     margin-bottom:-8px;
    padding-right:10px;
}
.template-content ol.list-ol-reddhaodhao li img{
    margin-bottom:-8px;
    padding-right:10px;;
}
.template-content ol.list-ol-redwhite {
    margin-top:10px;
}
.template-content ol.list-ol-redwhite li img{
    margin-bottom:-2px;
    padding-right:10px;
}
.template-content ol.list-ol-yellowblock li img{ 
    padding-right:10px;
}

.templateh{
    width:95%;
}
.templateh h3{
    font-weight:bold;
    color:#206F96;
    font-size:14px;
    width:100%;
    margin:10px 0;
    padding:10px 15px;
}

.templateone{
    width:95%;
    margin-top:10px;
}
.templatetonetop img{
    margin:10px;
}
.templatetonebottom h3{
    font-weight:bold;
    color:#206F96;
    line-height:30px;
    font-size:14px;
    width:80%;
}
.templateone li{
    line-height:20px;
    color:#666666;
    margin:5px;
}
.templateone p{
    line-height:20px;
    color:#666666;
    text-indent:2em;
    margin:5px 0;
}

.templatetwo {
    width:95%;
    margin-top:10px;
}
.templatetwo img{
    margin:5px;
}
.templatetwo h4{
    font-weight:bold;
    color:#206F96;
    line-height:30px;
    font-size:14px;
}
.templatetwo h3{
    font-weight:bold;
    color:#206F96;
    line-height:30px;
    font-size:15px;
    width:80%;
}
.templatetwo li{
    line-height:18px;
    color:#666666;
    margin:5px 0;
}
.templatetwo ol{
    list-style-type:decimal;
}
.templatetwo p{
    line-height:18px;
    color:#666666;
    text-indent:2em;
    margin:5px 0;
}
.templatetwoleft{
    float:left;
}
.templatetworight{
    float:left;
}

.templateqfd{
    clear:both;
}

.templatethree{
    margin:10px 0;
    width:100%;
}
.templatethree img{
    margin:5px;
}
.templatethree h3{
    color:#206F96;
    font-size:16px;
    line-height:40px;
    font-weight:bold;
}
.templatethree h4{
    font-size:14px;
    margin:10px 0;
    color:#206F96;
    font-weight:bold;
}
.templatethree li{
    line-height:20px;
    color:#666666;
    margin:5px 0;
}
.templatethree p{
    line-height:20px;
    color:#666666;
    text-indent:2em;
    margin:5px 0;
}
.threel,.threec,.threer{
    margin:0 10px;
}
.box{
    margin:0 20px;
    width:70%;
}

.templatefour{
    margin:15px 0;
    width:95%;
}
.templatefour h3{
    color:#206F96;
    font-size:16px;
    line-height:40px;
    font-weight:bold;
}
.templatefour h4{
    font-size:14px;
    margin:10px 0;
    color:#206F96;
    font-weight:bold;
}
.templatefour li{
    line-height:20px;
    color:#666666;
    margin:5px 0;
}
.templatefour p{
    line-height:20px;
    color:#666666;
    text-indent:2em;
    margin:5px 0;
}
.templatefour img{
    margin:5px;
}


.templateseven{
    width:95%;
    margin-top:20px;
}
.templateseven h3{
    font-size:14px;
    margin:10px 0;
    color:#206F96;
    font-weight:bold;
}
.templateseven p{
    text-indent:2em;
    color:#666666;
    line-height:20px;
    margin:5px 0;
}
.templateseven li{
    line-height:20px;
    color:#666666;
    margin:5px 0;
}


.templateeight{
    margin-top:30px;
    width:95%;
}
.templateeight h3{
    color:#206F96;
    font-size:14px;
    margin:10px 0;
    font-weight:bold;
}
.templateeight p{
    color:#666666;
    line-height:20px;
    text-indent:2em;
    margin:5px 0
}
.templateeight li{
    color:#666666;
    line-height:20px;
    margin:5px 0;
}

.templatejiu{
    margin-top:30px;
    width:95%;
}
.templatejiu h3{
    color:#206F96;
    font-size:16px;
    margin:10px 0;
    font-weight:bold;
}

.templatejiu p{
    color:#666666;
    line-height:20px;
    text-indent:2em;
    margin:5px 0;
}
.templatejiu li{
    color:#666666;
    line-height:20px;
    margin:5px 0;
}
.templatejiu img{
    margin:15px;
}

.knowledgeblock  h3{
    font-size:12px;
    font-weight:normal;
    border-bottom:1px solid #D8D8D8;
    line-height: 20px;
    width:100%;
}

<!--分页样式-->
.pagetyle td a{
    color:#206F96;
    margin:0px 3px;
}
.pagetyle{
    float:right;
}
.pagetyle td > a{
	padding:4px 9px;
	color:#0066D4;
	border:1px solid #AAA;
}
.pagetyle:parent{
	width:100%;
	margin:0;
}
