/*------------------ 悬浮封面 --------------------*/
.homedownapp-main{
    z-index:200;
	width:580px;
	height:330px;
	position:absolute;
    left:50%;
    margin-left:-300px;
    top: 100px;
    color: #fff;
    text-align: center;
}

.banner-title{
	width: 600px;
	height:110px;
	background: url("../images/article/LoveCar_top.png") no-repeat;
    background-size: contain;
    display: inline-block;
}

.homedownapp-main .row{
    display: inline-block;
}

.downapp-icon{
	width:106px;
	margin:0 20px;
	height:106px;
	border:1px solid #fff;
	-webkit-border-radius: 106px;
	-moz-border-radius: 106px;
	-ms-border-radius: 106px;
	-o-border-radius: 106px;
	border-radius: 106px;
	font-size: 18px;
	font-weight: bold;
}

.downapp-icon div{
	height:65px;
	margin:0 auto;
}

.downapp-icon:first-child div{
	width:34px;
	background: url("../images/article/homeicon.png") -23px -80px;
}

.downapp-icon:nth-child(2) div{
	width:50px;
	background: url("../images/article/homeicon.png") -88px -80px;
}

.downapp-icon:nth-child(3) div{
	width:45px;
	background: url("../images/article/homeicon.png") -172px -80px;
}

.downapp-icon:last-child div{
	width:46px;
	background: url("../images/article/homeicon.png") -256px -80px;
}

/*--------------------封面轮播---------------------*/
ul{
	padding:0 0 20px 30px;
}
.container{
    position:relative;
	max-width: 100%;
	overflow:hidden;
}

.mySlideshow .animated{
	position:absolute;
}
.first{
	background:url(../images/article/carcover/car3.jpg) center no-repeat;
    background-size: cover;
}
.first a,
.first img{
	display:block;
}
.first a{
	top:80px;
	left:39%;
	margin-left:-165px;
}
.first div{
	font-family:'Open Sans Condensed', sans-serif;
	font-size:50px;
	bottom:80px;
	left:39%;
	width:320px;
	text-align:center;
	margin-left:-160px;
}
.second{
	background:url("../images/article/carcover/car6.jpg") center no-repeat;
    background-size: cover;
}
.second img{
	top: 160px;
	right: 19%;
}
.third{
	background:url("../images/article/carcover/car2.jpg") center no-repeat;
    background-size: cover;
}
.third img{
	top:100px;
	left: 23%;
}
.fourth{
	background:url("../images/article/carcover/car4.jpg") center no-repeat;
    background-size: cover;
}
.fourth img{
	top:320px;
	right:8%;
}
.fifth{
	background:url("../images/article/carcover/car5.jpg") center no-repeat;
    background-size: cover;
}
.fifth img{
	top:120px;
	left:21%;
}

/*----------------选择车型及服务展示---------------*/
#home_service_ad .main-content{
    height:290px;
}

#home_service_ad .home-main-enter{
    width: 554px;
    height:288px;
    border:1px solid #4eb233;
    margin: 0 auto;
}

#home_service_ad .video-ad,#home_service_ad .video-ad img{
    width: 630px;
    height:290px;
}

.home_service_choosecar{
    width:100%;
    height:60px;
    line-height:60px;
}

/*    选择车型及展示服务项目start*/
.home-setcar{
    width:554px;
    height:60px;
    line-height:60px;
    color: #FF6D00;
    padding:0px 20px;
    border-bottom: 1px solid #4eb233;
    font-size:14px;
}

#home_setcars_icon{
    width:30px;
    height:25px;
    background: url("../images/article/homeicon.png") -201px -342px;
    margin-top:15px;
    margin-left: 150px;
    margin-right: 10px;
    float: left;
}

#home_service_content{
    width: 552px;
}

#home_service_content_left{
    width:170px;
    height:226px;
    float: left;
}

#home_service_content_right{
    width: 380px;
    height:226px;
    padding:20px;
    float: left;
}
    .mainentrance{
        height:225px;
        width:430px;
        background:none repeat scroll 0 0 #FFFFFF;
    }
    #leftfuwumenu{
    	cursor: pointer;
	    float: left;
	    font-size: 16px;
	    font-weight: normal;
	    height: 100%;
	    margin-right: 0px;
	    width: 170px;
    }
	#leftfuwumenu > div{
		height:75px;
		border-bottom:1px solid #1e8f6d;
	}
	.banner_box_title{
		width:360px;
		padding:0;
	}
	#leftfuwumenu > #baoyangfuwut,#baoyangdaohangt{
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
	}
	#leftfuwumenu > div:last-child{
		height: 76px;
	}
	#leftfuwumenu > div{
		line-height:78px;
		text-align: left;
	}
	#leftfuwumenu > div span{
		margin-left: 10px;
	}
	#baoyangfuwut div.pull-left,#baoyangdaohangt div.pull-left,#weixiufuwut div.pull-left{
		width:30px;
		height:30px;
		margin-left: 20px;
		position: relative;
		top:20px;
	}
	#baoyangfuwut #jianyi1{
		background: url("../images/article/homeicon.png") -70px -176px;
	}
	#baoyangfuwut #jianyi2{
		background: url("../images/article/homeicon.png") -21px -176px;
	}
	#baoyangdaohangt #baoyang1{
		background: url("../images/article/homeicon.png") -70px -235px;
	}
	#baoyangdaohangt #baoyang2{
		background: url("../images/article/homeicon.png") -21px -235px;
	}
	#weixiufuwut #weixiu1{
		background: url("../images/article/homeicon.png") -70px -297px;
	}
	#weixiufuwut #weixiu2{
		background: url("../images/article/homeicon.png") -21px -297px;
	}
	#home_service_content input, button, select, textarea{
		line-height: 20px;
	}
	.contentoption a{
		/*position: absolute;*/
		/*top:920px;*/
	}
	.rightfuwu{
		width:380px;
		padding:20px;
	}
	.banner_box_content{
		padding:0;
		width: 360px;
		height:360px;
	}
	.home-main-editcar{
		width: 28px;
		height: 28px;
		background: url("../images/article/editetc.png") -16px -92px;
		position: relative;
		top: 15px;
		left:10px;
	}
	.banner_box_text{
		border-bottom:none;
		width: 162px;
		height:40px;
		color: #666;
		background: #f7f7f7;
		margin:0px 5px 10px 5px;
		text-align: center;
		font-size: 14px;
	}
	.banner_box_content a{
		padding:0;
	}
	.weixiu-img{
		dispaly:block;
		float:left;
		width:162px;
		height:40px;
		margin:0px 5px;
		background:#f7f7f7;
		line-height:40px;
		text-align: center;
	}
	.showhandbook{
		color: #6e93d7;
		font-size: 12px;
		text-decoration: underline;
	}
	.right-icon{
		width: 15px;
		height: 20px;
	}
	#jianyi_1,#baoyang_1,#weixiu_1{
		background: url("../images/article/homeicon.png") -144px -238px;
	}
	#jianyi_2,#baoyang_2,#weixiu_2{
		background: url("../images/article/homeicon.png") -144px -184px;
	}
	#baoyangfuwut div.pull-right,#baoyangdaohangt div.pull-right,#weixiufuwut div.pull-right{
		position: relative;
		top:28px;
		right:15px;
	}
	.home-setcar{
		cursor: pointer;
	}
	.contentoption{
		overflow: hidden;
	}
	.contentoption div a{
		position: relative;
		top: -20px;
	}
	.contentoption div.option0 a{
		top: 0;
	}
	#movediv  div a{
		top: 0;
	}

    #video {
        margin: 0 auto;
        width:90%;
    }

    video {
        width:100%;
    }

/*-----------------服务站信息---------------------*/
#service_area .main-content{
    margin:0 auto;
    height: 550px;
}

#service_area .area-title{
    font-size:30px;
}
#service_area .main-content #map img {
    width:600px;
}

#service_area .main-content #shop {
    display: none;
}


#service_area .main-content #dynamic {
    display: none;
}

/*-------------------服务展示---------------------*/
#service_show .main-content{
    color: #666;
    height:82px;
    line-height: 82px;
    font-size: 14px;
}

#service_show .main-content .row{
    border-top:1px solid #ccc;
    border-left:1px solid #ccc;
    border-bottom:1px solid #ccc;
    width:100%;
    margin:0 auto;
}

#service_show .serviceicon{
    width: 156px;
    margin:0 auto;
}

#service_show .serviceicon .pull-left:first-child{
    width: 70px;
    height: 82px;
}

.service-hyfu{
    background: url("../images/article/service.png") -37px 0px;
}

.service-fdj{
    background: url("../images/article/service.png") -140px 0px;
}

.service-zdxt{
    background: url("../images/article/service.png") -237px 0px;
}

.service-dpfw{
    background: url("../images/article/service.png") -345px 0px;
}

.service-blfw{
    background: url("../images/article/service.png") -442px 0px;
}

.service-cljc{
    background: url("../images/article/service.png") -542px 0px;
}

.service-zmxt{
    background: url("../images/article/service.png") -37px -80px;
}

.service-lufw{
    background: url("../images/article/service.png") -140px -80px;
}

.service-bjpq{
    background: url("../images/article/service.png") -237px -80px;
}

.service-mryh{
    background: url("../images/article/service.png") -345px -80px;
}

.service-ktxt{
    background: url("../images/article/service.png") -442px -80px;
}

.service-pfxt{
    background: url("../images/article/service.png") -542px -80px;
}

#service_show .main-content .col-service {
    float: left;
    width:25%;
    border-right: 1px solid #ccc;
}

#service_show .main-content .col-service:nth-child(1),
#service_show .main-content .col-service:nth-child(2),
#service_show .main-content .col-service:nth-child(3),
#service_show .main-content .col-service:nth-child(4),
#service_show .main-content .col-service:nth-child(5),
#service_show .main-content .col-service:nth-child(6),
#service_show .main-content .col-service:nth-child(7),
#service_show .main-content .col-service:nth-child(7),
#service_show .main-content .col-service:nth-child(8),
#service_show .main-content .col-service:nth-child(9),
#service_show .main-content .col-service:nth-child(10),
#service_show .main-content .col-service:nth-child(11),
#service_show .main-content .col-service:nth-child(12){
    border-bottom: 1px solid #ccc;
}

/*-----------------资讯动态---------------------*/
/*首面修改-企业动态*/
#news {
    zoom: 1;
	overflow: hidden;
}

#news .main-content {
    width: 95%;
    margin: 0 auto;
}

/* ui-banner */
.ui-banner{
    display:block;
    position:relative;
    width:95%;
}
.ui-banner.ui-banner-invalid{
    display:none;
}
.ui-banner,.ui-banner .ui-banner-slides,.ui-banner .ui-banner-slogans,.ui-banner .ui-banner-arrow{
    height:258px;
}
.ui-banner .ui-banner-slides,.ui-banner .ui-banner-slogans,.ui-banner .ui-banner-arrow{
    position:absolute;
    top:0;
}
.ui-banner ul{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
}
.ui-banner .ui-banner-slides{
    width:53%;
    height:258px;
    left:1px;
}
.ui-banner .ui-banner-slides li{
    display:none;
    position:absolute;
    top: 15px;
}
.ui-banner .ui-banner-slides li img{
    display: block;
    width:430px;
    height:250px;
    border:none;
}
.ui-banner .ui-banner-slides li.ui-banner-slides-current,.ui-banner .ui-banner-slides li.ui-banner-slides-prev,.ui-banner .ui-banner-slides li.ui-banner-slides-next{
    display:block;
}
.ui-banner .ui-banner-slides li.ui-banner-slides-current{
    left:0;
}
.ui-banner .ui-banner-slides li.ui-banner-slides-prev{
    left:-654px;
}
.ui-banner .ui-banner-slides li.ui-banner-slides-next{
    left:654px;
}
.ui-banner .ui-banner-slogans{
    height:270px;
    overflow:hidden;
    width:47%;
    right:0;
}
.ui-bnnerimg{
    text-align: center;
	width: 39%;
    height: 100%;
    display:flex;/*Flex布局*/
    display: -webkit-flex; /* Safari */
    align-items:center;/*指定垂直居中*/
}
.ui-bnnerimg img {
    width: 100%;
}
.ui-bnnerp{
	width: 59%;
	height:97%;
	padding-left: 20px;
    word-wrap:break-word;
    overflow: hidden;
}
.ui-bnnerp h3{
	font-size: 14px;
	color: #666;
}
.ui-bnnerp p{
	color: #666;
}
.ui-line{
	zoom: 1;
	overflow: hidden;
}
.ui-line-hover{
	background:url("../images/article/stuj.png") no-repeat left center;
}
.ullinehover{
	border-bottom: 1px solid #ececec;
	height: 86px;
	margin: 0 0 3px 25px;
	padding: 6px 0;
}

.ui-bnnerp-hover{
	background-color:#9b040d;
	color:#fff;
}
/*.ullinehover:hover .ui-bnnerp h3,.ullinehover:hover .ui-bnnerp p{
	color: #fff;
}*/
.uibannerslog ul li{
	border: 1px solid red;
}
.ui-bnnerp-hover h3,.ui-bnnerp-hover p{
	color:#fff;
}
.ui-banner .ui-banner-arrow{
    display:block;
    width:23px;
    outline:none;
}
.ui-banner .ui-banner-arrow.ui-banner-arrow-prev{
	background: transparent url("../images/article/jleft.jpg") no-repeat scroll 0 0;
	height: 23px;
	right: -25px;
	top: 17px;
	width: 23px;
}
.ui-banner .ui-banner-arrow.ui-banner-arrow-next{
	background: transparent url("../images/article/jright.jpg") no-repeat;
	height: 23px;
	right: -25px;
	top: 49px;
	width: 23px;
}

/*-----------------车主评论---------------------*/
#order_discuss .main-content {
    margin: 0 30px;
}
#discuss-title{
    width:200px;
    height:20px;
    background: url("../images/article/OwnerComments.png") no-repeat;
    background-size: contain;
}

#order_discuss{
    background:#fff;
}

#order_discuss .discuss-more {
    color: #b3b3b3;
    font-size: 12px;
    position: relative;
    top: 5px;
    margin-left: 15px;
}

#discuss-content{
    margin:0 10px;
    background: #fff;
    width: 100%;
    height:120px;
    font-size:14px;
    margin-right:1px;
}

#discuss-content #box4 {
    display: none;
}

#discuss-content .col-width{
    float: left;
    width:32%;
    border-top:1px solid red;
    border-left: 1px solid green;
    border-bottom: 1px solid blue;
    border-right: 1px solid #b3b3b3;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    word-wrap:break-word;
    overflow: hidden;
    height:150px;
}

#discuss-content .row{
    margin: 0;
}

.orangestar{
    width: 14px;
    height: 14px;
    background: url("../images/article/homeicon.png") -212px -278px;
    float: left;
    margin-right: 3px;
    position: relative;
    top: 3px;
}

.huistar{
    width: 14px;
    height: 14px;
    background: url("../images/article/homeicon.png") -212px -305px;
    float: left;
    margin-right: 3px;
    position: relative;
    top: 3px;
}

/*-----------------合作伙伴---------------------*/
#partner{
    background-color: #f7f7f7;
    height: 200px;
    width: 100%;
}

#partner .main-content {
    margin: 0 30px;
}

.partner-title{
    width:150px;
    height:25px;
    background: url("../images/article/partner/OurPartners.png") no-repeat;
    background-size:contain;
}

.partner-more {
    color: #b3b3b3;
    font-size: 12px;
    position: relative;
    top: 5px;
    margin-left: 15px;
}

.partner-content{
    width: 100%;
}

.partner-content .row .col-partner{
    float: left;
    width:16.66666667%;
}

.partner-content .row .col-partner img{
    width:90px;
    height: 90px;
}

/*-------------------二维码---------------------*/
#QRcode #downapp_title{
    width:650px;
    height:100px;
    margin:0 auto;
    background:url("../images/article/LoveCar_bottom.png") no-repeat;
    background-size:contain;
}

#QRcode p{
    letter-spacing:23px;
    font-size:14px;
    color:#666;
}

#QRcode #downapp_2v{
    width: 590px;
    margin:0 auto;
}

#QRcode #downapp_2v .col-QRcode {
    display: inline-block;
    margin: 30px;
    
}

#QRcode #downapp_2v .col-QRcode img {
    width:220px;
}

@media screen and (min-width: 968px){
    /*-----------------资讯动态---------------------*/
    .ui-banner,.ui-banner .ui-banner-slides,.ui-banner .ui-banner-slogans,.ui-banner .ui-banner-arrow{
        height:258px;
    }
    .ui-banner .ui-banner-slogans{
        height:360px;
        width:55%;
    }
    
    .ui-banner .ui-banner-slides{
        height:258px;
        width:45%;
    }

    .ui-banner .ui-banner-slides li img{
        width:430px;
        height:250px;
    }
    .ui-bnnerimg{
	   width: 29%;
    }
    .ui-bnnerp{
	   width: 69%;
    }
}
@media screen and (min-width: 1100px){
    
    /*-----------------资讯动态---------------------*/
    .ui-banner,.ui-banner .ui-banner-slides,.ui-banner .ui-banner-slogans,.ui-banner .ui-banner-arrow{
        height:358px;
    }
    .ui-banner .ui-banner-slogans{
        height:360px;
        width:55%;
    }
    
    .ui-banner .ui-banner-slides{
        height:358px;
        width:45%;
    }

    .ui-banner .ui-banner-slides li img{
        width:500px;
        height:330px;
    }
    .ui-bnnerimg{
	   width: 24%;
    }
    .ui-bnnerp{
	   width: 74%;
    }
    
    /*----------------选择车型及服务展示---------------*/
    #home_service_ad .main-content{
        height: 290px;
        width: 50%;
        float: left;
    }
    
    #home_service_ad .home-main-enter{
        float: right;
        margin-right: 0px;
    }
    
    #video {
        float: left;
        width:515px;
        margin-left:30px;
    }

    video {
        width:100%;
    }
    
    #home_service_ad #reset {
        display: none;
    }
    
    #home_service_ad #nav30 {
        display: none;
    }
    #service_show .main-content .col-service {
        width:16.66666666666666666666666667%;
    }
}

@media screen and (min-width: 1280px){
    /*----------------选择车型及服务展示---------------*/
    #home_service_ad .home-main-enter{
        margin-right: 30px;
    }
    
    /*----------------服务站信息---------------*/
    #service_area .main-content{
        margin:0 auto;
        height: 450px;
    }
    #service_area .main-content{
        height: 450px;
    }
    #service_area #bigbox {
        margin:0 auto;
        width:1200px;
        height:400px;
    }

    #service_area .main-content div {
        display: block;
    }
    #service_area .area-title{
        font-size:30px;
    }
    #service_area .main-content #shop {
        display: block;
        height:340px;
        width:300px;
        float: left;
    }
    #service_area .main-content #map {;
        margin: 0 50px;
        float: left;
    }

    #service_area .main-content #dynamic {
        display: block;
        height:340px;
        width:300px;
        float: left;
    }
    
    #service_area .main-content #map img{;
        width:500px;
    }
    
    /*-----------------资讯动态---------------------*/
    .ui-banner,.ui-banner .ui-banner-slides,.ui-banner .ui-banner-slogans,.ui-banner .ui-banner-arrow{
        height:358px;
    }
    .ui-banner .ui-banner-slogans{
        height:360px;
        width:60%;
    }
    
    .ui-banner .ui-banner-slides{
        width:40%;
    }

    .ui-banner .ui-banner-slides li img{
        width:500px;
        height:330px;
    }
    
    /*-----------------车主评论---------------------*/
    #discuss-content #box4 {
        display: block;
    }
    
    #discuss-content{
        height:150px;
    }
    
    #discuss-content .col-width{
        width:24.5%;
        height:150px;
    }
    .ui-bnnerimg{
	   width: 19%;
    }
    .ui-bnnerp{
	   width: 79%;
    }
    
    /*-----------------合作伙伴---------------------*/
    #partner{
        height: 250px;
    }
    
    .partner-content .row .col-partner img{
        width:140px;
        height: 150px;
    }
    
    /*-------------------二维码---------------------*/
    #QRcode  #downapp_title{
        width:968px;
    }
    #QRcode p {
        letter-spacing:35px;
        font-size:20px;
    }

    #QRcode  #downapp_2v{
        width: 725px;
        margin:0 auto;
    }

    #QRcode  #downapp_2v .col-QRcode {
        display: inline-block;
        margin: 30px;  
    }
    #QRcode #downapp_2v .col-QRcode img {
        width:300px;
    }
}

@media screen and (max-width: 768px){
    .ui-banner,.ui-banner .ui-banner-slides,.ui-banner .ui-banner-slogans,.ui-banner .ui-banner-arrow{
        height:358px;
    }
    .ui-banner .ui-banner-slogans{
        height:360px;
        width:100%;
    }
    .ui-banner .ui-banner-slides{
        display: none;
    }
    .ui-bnnerimg{
	   width: 24%;
    }
    .ui-bnnerp{
	   width: 74%;
    }
    .ui-bnnerp h3{
	   font-size: 14px;
    }
    .ui-bnnerp p{
        font-size: 13px;
    }
}